body{
    padding: 0;
    margin: 0;
    background-color: #EFEFEF;
}

.static{
    position: fixed;
    width: 100%;
}

.public-items{
    padding-top: 6%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}